<p class="heading">My Profile</p>
<div class="maindiv1">
    <div style="width: 50%;float: right;">
        <p style="font-size: 14px;
        font-family: system-ui;margin-top: 61px;">Collabera Inc.</p> 
    </div>
    <div style="width: 50%;float: right;">
   <p style="font-size: 19px;
   font-family: system-ui;">Shreya Jain</p> 
    <p style="font-size: 14px;
    font-family: system-ui;"> Full Stack developer at Collabera| C# . net| Angular</p> 
    <p style="font-size: 14px;
    font-family: system-ui;">  Bangalore Urban, Karnataka, India  Contact info</p> 
    
    </div>
    <div style="font-size: 14px;
    font-family: system-ui;">
       <p> Experinece :</p>
        
          <p>  Dotnet Developer</p>
          <p>Company NameCollabera Inc.</p>
          <p> Dates EmployedJul 2018 – Present</p>
          <p> Employment Duration6 yrs 9 mos</p>
          <p> LocationBengaluru Area, India</p>
       
        </div>
        
        <div>
            <p> Education :</p>
            <p>MCA</p>
        </div>
        <div>
            <p> Skills :</p>
            <p>.Net</p>
            <p>SQL</p>
            <p>Angular</p>
        </div>
</div>

