.maindiv{
    border: 1px solid;
    height: 36rem;
    width: 65%;
    overflow-y: hidden;
    margin-left: 16rem;
}

.inputcls
{
    width: 99%;
    height: 6.5rem;
    border-radius:4px;
}

.btn
{       
        margin-left: 86%;
        padding-left: -4px;
        background-color: #92d492;
        border-radius: 4px;
        height: 30px;     
        width: 80px;
        border: none;
        font-size: 12px;
        color: white;
        cursor: pointer;
}

.red{
    color: red;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  ::-webkit-scrollbar-thumb {
    background:#9b9b9b!important;
    border-radius: 20px;
  }
  input.invalid {
    border-color: red;
  }