/* You can add global styles to this file, and also import other style files */
.maindiv1{
    border: 1px solid;
    height: 36rem;
    width: 65%;
    overflow-y: hidden;
    margin-left: 16rem;
    padding: 23px;
}